{% extends 'base.html.twig' %}

{% block title %}
    {{ organism.name }}
{% endblock %}

{% block content %}
    {% set action = '/admin/organisms/new' %}
    {% if organism is defined and organism._id %}
        {% set action = '/admin/organisms/' ~ organism._id %}
    {% endif %}
    <form method="post" class="form" action="{{ action }}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{ organism.name }}" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>


    </form>
{% endblock %}